<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Queries</title>
  </head>
  <body>
    <h1>Todos los Autores</h1>
    <ul>
      {% for author in authors %}
      <li>{{ author.id }}._ {{ author.name }} ({{author.email}})</li>
      {% endfor %}
    </ul>
    <h3>Elementos Ordenados por Email</h3>
    <ul>
      {% for order in orders %}
        <li>{{order.email}}</li>
      {% endfor %}
    </ul>

    <h3>Total de Autores:{{ authors|length }} </h3>
    
    <h3>Autores que es su nombre contienen la palabra 'the'</h3>
    <ul>
        {% for filter in filtered %}
        <li>{{ filter.name }}</li>
        {% endfor %}
    </ul>
    <h3>Obteniendo un unico elemento (filtrado por ID)</h3>
    <p>{{ author.name }} | {{author.email}}</p>    

    <h2>Email de los autores del 10 al 20</h2>
    <ul>
      {% for limit in limits %}
      <li>({{ limit.email}})</li>
      {% endfor %}
    </ul>
  </body>
</html>
