{% extends "layout/base.html" %}

{% block 'title' %} Contactos {% endblock %}

{% block 'content' %}
<form>
    <input type='text' name='search' placeholder='Buscar contacto...'>
    <input type='submit' value='Buscar'>
</form>


<ul class='list'>
    {% for contact in contacts %}
        <li>{{ contact }} 
            <span>
                <a class='btn btn-detail' href='#'>Ver</a>
                <a class='btn btn-edit' href='#'>Editar</a>
                <a class='btn btn-delete' href='#'>Borrar</a>
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock  %}