:root {
    --color-primary: #1a8cd8;
    --color-secundary: #ff0000;
    --color-text: #666;
    --font-main: Autum;
    --font-text: Louis_George;
}

/* Main Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text);
}

@font-face {
    font-family: Louis_George;
    src: url('../fonts/Louis_George_Cafe_Bold_Italic.ttf');
}

@font-face {
    font-family: Autum;
    src: url('../fonts/Autum_Bright.ttf');
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-main);
}

/* End Main Settings */

/* layout settings */ 

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: var(--color-primary);
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;

}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-main);
    padding: 10px;
}

nav ul li a:hover {
    color: var(--color-text);
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px;
    justify-content: flex-start;
    align-items: center;
}

.search {
    margin-bottom: 20px;
    width: 40%;
}

.search-var {
    padding: 5px;
    width: 80%;
    border-radius: 5px;
}

.search-btn {
    padding: 5px 10px;
    color: white;
    background-color: var(--color-primary);
    border-radius: 5px;
}

.search-btn:hover {
    color: var(--color-primary);
    background-color: antiquewhite;
}

.list {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    border-radius: 5px;
    width: 50%;
    list-style-type: none;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid var(--color-text);
}

.btn {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: beige;
    color: #666;
}
.btn-detail {
    background-color: var(--color-primary);
    color: black;
}

.btn-edit {
    background-color: #eeff38;
    color: black;
}

.btn-delete {
    background-color: #ff0000;
    color: black;
}
/* End layout settings */ 
